body{
    background-color: antiquewhite;
}

.yo{
    padding: 130;
    margin: 30;
    background-color: rgb(109, 6, 6);
}
.flex{
    display: flex;
}

.red{
    padding-right: 450px;
    background-color: rgb(109, 6, 6);
}
.yellow{
    background-color:  rgb(109, 6, 6) ;
    padding-bottom: 690;
}

.blue{
background-color:  rgb(109, 6, 6) ;
padding-bottom: 390;
}
.pink{
background-color:  rgb(109, 6, 6) ;
padding-bottom: 370;
}
.beige{
padding-right: 450px;
background-color:antiquewhite; 
margin: 2%;
}

.orange{
background-color:  rgb(109, 6, 6);
margin-right: 398;
}

.green{
    padding-bottom: 430;
    margin-top: 30;
    background-color:  rgb(109, 6, 6);
}